<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name = "MMABooks" connectionString="Data Source=LAPTOP-19QS8D7H\SQLEXPRESS;Initial Catalog=MMABooks;Integrated Security=True"/>
  </connectionStrings>
</configuration>

<!--<configuration>
  <connectionstrings>
    <add name = "MMABooks"
         connectionString="Data Source=LAPTOP-19QS8D7H\SQLEXPRESS;Initial Catalog=MMABooks;Integrated Security=True"/>
  </connectionstrings>
</configuration>-->